<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

</head>
<body>




<table border="1" class ="table table-striped table-responsive-md">
    <thead>
    <tr>
        <th>Customer id</th>
        <th>Loan Type</th>
        <th>Loan Amount</th>
        <th>Customer Loan Status</th>
        <th>Repay Link</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <tr th:each="loan : ${myList}">
        <td th:text="${loan.customerId}"></td>
        <td th:text="${loan.loanType}"></td>
        <td th:text="${loan.loanAmount}"></td>
        <td th:text="${loan.status}"></td>
        <td>
            <a th:href="@{/repayView/{id}(id=${loan.id})}" class="btn btn-primary">Repayment</a>
        </td>
    </tr>
    </tr>
    </tbody>
</table>

<form action="#" th:action="@{/CustomerScreen}" th:object="${user}"
      method="GET">

    <input type="hidden" th:field="*{userId}"
           placeholder="User Id" class="form-control mb-4 col-4">


    <button type="submit" class="btn btn-info col-2"> Back</button><br>

</form>
</body>
</html>