<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Loan Management System</h1>
    <hr>
    <h2>Repay Loan</h2>

    <table border="0">
        <tbody>
        <tr th:each="loan : ${loan}">
            <td th:text="${loan.loanAmount}"></td>
        </tr>
        </tbody>
    </table>

    - <input type="text" placeholder="Type amount"/><br><br>


    <form action="#" th:action="@{/repay}" th:object="${loan}"
          method="POST">
        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{customerId}"/>
        <input type="hidden"  th:field="*{loanType}"/>
        = <input type="text" th:field="*{loanAmount}" />
        <input type="hidden" th:field="*{customerCredit}" />
        <input type="hidden" th:field="*{status}" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Repay Loan</button>
    </form>

    <form action="#" th:action="@{/myLoan/{id}(id=${loan.customerId})}" th:object="${loan}"
          method="GET">

        <input type="hidden" th:field="*{customerId}"
               placeholder="Customer Id" class="form-control mb-4 col-4">


        <button type="submit" class="btn btn-info col-2"> Back</button><br>
    </form>

    <hr>

</div>
</body>
</html>